<%- include('partials/html-head') %>
<%- include('partials/nav') %>
<h1>hi this is the index page</h1>

<h1><%= chosenCategory %></h1>
<div class="index-grid">
<% suggestions.filter(suggestion => suggestion.category.toLowerCase() === chosenCategory.toLowerCase()).forEach(suggestion => { %>
  
      <div class="suggestion-card"><ul>

        
          <li class="suggestion-name"><%= suggestion.name %></li>
          <li class="suggestion-description"><%= suggestion.description %></li>
          <div class="edit-and-delete">
          <a href="/suggestion/update/<%=suggestion._id%>"class="edit"></a>
       
        
          <form action="/suggestion/<%=suggestion._id%>?_method=DELETE" method="POST">
            <button class="delete-button"type="submit">
              <span class="deletion-text">Delete <%= suggestion.name %></span>
            </button>
          </form>
        </div>
      </div>
      </ul>
   
    
  
      <% }) %>  
    </div>
      <a href="/suggestion/new">Add a new suggestion</a>
    </div>
</body>
</html>